/* Flowchart variables */
/* Sequence Diagram variables */
/* Gantt chart variables */
div.mermaid .label {
  font-family: 'trebuchet ms', verdana, arial;
  color: #333;
}
div.mermaid .node rect,
div.mermaid .node circle,
div.mermaid .node ellipse,
div.mermaid .node polygon {
  fill: #cde498;
  stroke: #13540c;
  stroke-width: 1px;
}
div.mermaid .edgePath .path {
  stroke: green;
  stroke-width: 1.5px;
}
div.mermaid .edgeLabel {
  background-color: #e8e8e8;
}
div.mermaid .cluster rect {
  fill: #cdffb2 !important;
  rx: 4  !important;
  stroke: #6eaa49 !important;
  stroke-width: 1px !important;
}
div.mermaid .cluster text {
  fill: #333;
}
div.mermaid .actor {
  stroke: #13540c;
  fill: #cde498;
}
div.mermaid text.actor {
  fill: black;
  stroke: none;
}
div.mermaid .actor-line {
  stroke: grey;
}
div.mermaid .messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: #333;
}
div.mermaid .messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  stroke: #333;
}
div.mermaid #arrowhead {
  fill: #333;
}
div.mermaid #crosshead path {
  fill: #333 !important;
  stroke: #333 !important;
}
div.mermaid .messageText {
  fill: #333;
  stroke: none;
}
div.mermaid .labelBox {
  stroke: #326932;
  fill: #cde498;
}
div.mermaid .labelText {
  fill: black;
  stroke: none;
}
div.mermaid .loopText {
  fill: black;
  stroke: none;
}
div.mermaid .loopLine {
  stroke-width: 2;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: #326932;
}
div.mermaid .note {
  stroke: #6eaa49;
  fill: #fff5ad;
}
div.mermaid .noteText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
/** Section styling */
div.mermaid .section {
  stroke: none;
  opacity: 0.2;
}
div.mermaid .section0 {
  fill: #6eaa49;
}
div.mermaid .section2 {
  fill: #6eaa49;
}
div.mermaid .section1,
div.mermaid .section3 {
  fill: white;
  opacity: 0.2;
}
div.mermaid .sectionTitle0 {
  fill: #333;
}
div.mermaid .sectionTitle1 {
  fill: #333;
}
div.mermaid .sectionTitle2 {
  fill: #333;
}
div.mermaid .sectionTitle3 {
  fill: #333;
}
div.mermaid .sectionTitle {
  text-anchor: start;
  font-size: 11px;
  text-height: 14px;
}
/* Grid and axis */
div.mermaid .grid .tick {
  stroke: lightgrey;
  opacity: 0.3;
  shape-rendering: crispEdges;
}
div.mermaid .grid path {
  stroke-width: 0;
}
/* Today line */
div.mermaid .today {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
/* Task styling */
/* Default task */
div.mermaid .task {
  stroke-width: 2;
}
div.mermaid .taskText {
  text-anchor: middle;
  font-size: 11px;
}
div.mermaid .taskTextOutsideRight {
  fill: black;
  text-anchor: start;
  font-size: 11px;
}
div.mermaid .taskTextOutsideLeft {
  fill: black;
  text-anchor: end;
  font-size: 11px;
}
/* Specific task settings for the sections*/
div.mermaid .taskText0,
div.mermaid .taskText1,
div.mermaid .taskText2,
div.mermaid .taskText3 {
  fill: white;
}
div.mermaid .task0,
div.mermaid .task1,
div.mermaid .task2,
div.mermaid .task3 {
  fill: #487e3a;
  stroke: #13540c;
}
div.mermaid .taskTextOutside0,
div.mermaid .taskTextOutside2 {
  fill: black;
}
div.mermaid .taskTextOutside1,div.mermaid 
div.mermaid .taskTextOutside3 {
  fill: black;
}
/* Active task */
div.mermaid .active0,
div.mermaid .active1,
div.mermaid .active2,
div.mermaid .active3 {
  fill: #cde498;
  stroke: #13540c;
}
div.mermaid .activeText0,
div.mermaid .activeText1,
div.mermaid .activeText2,
div.mermaid .activeText3 {
  fill: black !important;
}
/* Completed task */
div.mermaid .done0,
div.mermaid .done1,
div.mermaid .done2,
div.mermaid .done3 {
  stroke: grey;
  fill: lightgrey;
  stroke-width: 2;
}
div.mermaid .doneText0,
div.mermaid .doneText1,
div.mermaid .doneText2,
div.mermaid .doneText3 {
  fill: black !important;
}
/* Tasks on the critical line */
div.mermaid .crit0,
div.mermaid .crit1,
div.mermaid .crit2,
div.mermaid .crit3 {
  stroke: #ff8888;
  fill: red;
  stroke-width: 2;
}
div.mermaid .activeCrit0,
div.mermaid .activeCrit1,
div.mermaid .activeCrit2,
div.mermaid .activeCrit3 {
  stroke: #ff8888;
  fill: #cde498;
  stroke-width: 2;
}
div.mermaid .doneCrit0,
div.mermaid .doneCrit1,
div.mermaid .doneCrit2,
div.mermaid .doneCrit3 {
  stroke: #ff8888;
  fill: lightgrey;
  stroke-width: 2;
  cursor: pointer;
  shape-rendering: crispEdges;
}
div.mermaid .doneCritText0,
div.mermaid .doneCritText1,
div.mermaid .doneCritText2,
div.mermaid .doneCritText3 {
  fill: black !important;
}
div.mermaid .activeCritText0,
div.mermaid .activeCritText1,
div.mermaid .activeCritText2,
div.mermaid .activeCritText3 {
  fill: black !important;
}
div.mermaid .titleText {
  text-anchor: middle;
  font-size: 18px;
  fill: black;
}
/*


*/
div.mermaid g.classGroup text {
  fill: #13540c;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
div.mermaid g.classGroup rect {
  fill: #cde498;
  stroke: #13540c;
}
div.mermaid g.classGroup line {
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid svg .classLabel .box {
  stroke: none;
  stroke-width: 0;
  fill: #cde498;
  opacity: 0.5;
}
div.mermaid svg .classLabel .label {
  fill: #13540c;
}
div.mermaid .relation {
  stroke: #13540c;
  stroke-width: 1;
  fill: none;
}
div.mermaid .composition {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #compositionStart {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #compositionEnd {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid .aggregation {
  fill: #cde498;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #aggregationStart {
  fill: #cde498;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #aggregationEnd {
  fill: #cde498;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #dependencyStart {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #dependencyEnd {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #extensionStart {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid #extensionEnd {
  fill: #13540c;
  stroke: #13540c;
  stroke-width: 1;
}
div.mermaid .node text {
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 12px;
  background: #cdffb2;
  border: 1px solid #6eaa49;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}